Source: debathena-lert-compat
Section: debathena/net
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: debhelper (>= 7), python
Standards-Version: 3.9.3

Package: debathena-lert-compat
Architecture: all
Provides: debathena-lert, lert
Conflicts: debathena-lert
Replaces: debathena-lert
Depends: ${python:Depends}, ${misc:Depends}, python-krbv
X-Python-Version: 2.7
Description: Display Athena accounts notification messages
 The lert utility checks for messages to you from Athena Accounts, such
 as messages that your account is scheduled for deletion.
 .
 This system is currently unused for message delivery purposes, but is still
 used for statistics purposes and dotfiles compatibility.
